:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  .logo1{
    width: 55px;
    height: 55px;
  }
  
  .logo {
    color: #000;
    font-size: 30px;
    padding-right: 90px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 20px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  .dropdown-menu {
    display: none;
  }
   a.tbl-biru {
    background: #D6E4E5;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
  }
  a.tbl-biru:hover {
    background: #fff;
    text-decoration: none;
}

  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
 .container1{
    width: 100%;
    height: 460px;
    display: block;
    background-color: #000;
    background-image: url(image/gambar18.jpg);
    background-position: center;
    background-size: cover;
 }
 .container1 .caption {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50%;
  height: 250px;
  padding: 10px;
  margin: 0px auto;
 }
 .container1 .caption h2{
  font-size: 18px;
  color: #fff;
 }
 .container1 .caption h6{
  font-size: 50px;
  color: #fff;
 }

 .container1 .caption a.tbl-pink {
  text-decoration: none;
    position: absolute;
    top: 60%;
    left: 2%;
    background: #82CD47;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.container1 .caption a.tbl-pink:hover {
    background: #379237;
    text-decoration: none;
}

.container1 .info{
  background-color: #fff;
  position: absolute;
  top: 80%;
  left: 9%;
  width: 1000px;
  height: 150px;
}
.container1 .info img{
  padding: 10px;
  border-radius: 90px;
  height: 150px;
  width: 150px;
}
.container1 .info .tentang{
  display: flex;
}
.container1 .info .tentang p{
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
}

.container2 {
  display: flex;
  width: 100%;
  height: 250px;
  background-color:  #141d28;
}
.container2 .tengah p{
  padding: 5px;
  padding-top: 130px;
  text-align: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: bold;
}

.container3{
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #fff;
}
.container3 .berita1{
  margin-top: 20px;
  margin-left: 90px;
  width: 280px;
  height: 367px;
  background-color: #D6E4E5;
}
.container3 .berita1 img{
  margin-top: 5px;
  margin-left: 5px;
  width: 270px;
  height: 180px;
}
.container3 .berita1 h4{
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #0D4C92;
}
.container3 .berita1 p{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  text-align: left;
  font-size: 10px;
  color: #000;
  font-size: 20px;
}
.container3 .cerita{
  margin-top: 20px;
  margin-left: 90px;
  width: 280px;
  height: 367px;
  background-color: #D6E4E5;
}
.container3 .cerita img{
  margin-top: 5px;
  margin-left: 5px;
  width: 270px;
  height: 180px;
}
.container3 .cerita h4{
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #0D4C92;
}
.container3 .cerita p{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  text-align: left;
  font-size: 10px;
  color: #000;
  font-size: 20px;
}
.container3 .tentang{
  margin-top: 20px;
  margin-left: 90px;
  width: 280px;
  height: 367px;
  background-color: #D6E4E5;
}
.container3 .tentang img{
  margin-top: 5px;
  margin-left: 5px;
  width: 270px;
  height: 180px;
}
.container3 .tentang h4{
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #0D4C92;
}
.container3 .tentang p{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  text-align: left;
  font-size: 10px;
  color: #000;
  font-size: 20px;
}

.info{
   display: flex;
  width: 100%;
  height: 600px;
  background-color: #fff;
}
.info .sejarah{
  margin-top: 20px;
  margin-left: 90px;
  display: flex;
  width: 1020px;
  height: 500px;
  background-color: #E8F3D6;
}
.info .sejarah img{
  margin-top: 30px;
  margin-left: 40px;
  width: 280px;
  height: 367px;
  background-color: #D6E4E5;
}
.info .sejarah h2{
  margin-top: 15px;
  padding: 15px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: #0D4C92;
  font-weight: bold;
}
.info .sejarah p{
  margin-top: 15px;
  padding: 15px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: bold;
}

/*bagian footer*/
.footer{
  background-color: #0D4C92;
  width: 100%;
  height: 230px;
}
#contact {
    background: #F8F8FF;
    padding:50px 0px 50px 0px;
}
p{
  color: #fff;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 545;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    line-height: 50px;
}

#copyright {
    background-color: #00005C;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
}